# Homework on Pandas Basics

---

#### Series Exercises:

1. **Create a Series:**
    - Create a Series named `fruits` with the data: 'apple', 'banana', 'cherry', 'date', and assign it an index of 'a', 'b', 'c', 'd' respectively.
    - Print the Series.
    - Print the `Index` of the series.

In [1]:
# 1
from pandas import Series, DataFrame, Index

fruits = Series(['apple', 'banana', 'cherry', 'date'], index=['a', 'b', 'c', 'd'])
print(fruits)
print(fruits.index)

a     apple
b    banana
c    cherry
d      date
dtype: object
Index(['a', 'b', 'c', 'd'], dtype='object')

2. **Accessing Elements:**
    - Print the second  ("b") element of the `fruits` Series.

In [2]:
# 2
print(fruits['b'])

banana

3. **Series Operations:**
    - Create a Series with the squares of the numbers 1 through 5. 
    - Add 10 to each item in the series (hint: there a *method* to this madness).

In [3]:
# 3
numbers = Series([1, 2, 3, 4, 5])
squares = numbers**2

squares_plus_10 = squares + 10

print("\nSquares of Numbers 1 through 5:")
print(squares)

print("\nAfter Adding 10 to Each Item:")
print(squares_plus_10)

Squares of Numbers 1 through 5:
0     1
1     4
2     9
3    16
4    25
dtype: int64

After Adding 10 to Each Item:
0    11
1    14
2    19
3    26
4    35
dtype: int64

---

## DataFrame Exercises:

1. **Create a DataFrame:**
   - Create a DataFrame named `students` with the columns: 'Name', 'Age', 'Grade'.
   - Populate it with data for three fictional students.

In [4]:
# Create a DataFrame named 'students'
data = {'Name': ['Wendolyn', 'Ricardo', 'Lawrence'],
        'Age': [22, 20, 19],
        'Grade': ['C-', 'A', 'A']}

students = DataFrame(data)
print(students)

       Name  Age Grade
0  Wendolyn   22    C-
1   Ricardo   20     A
2  Lawrence   19     A

2. **Accessing Data:**
   - Print the `Name` column of the `students` DataFrame.

In [5]:
print(students['Name'])

0    Wendolyn
1     Ricardo
2    Lawrence
Name: Name, dtype: object

   
4. **DataFrame Operations:**
   
   - Add a new column to the `students` DataFrame named `Graduated`, which should be `True` if the student's grade is 'A' and `False` otherwise.
   - Print the updated DataFrame.

In [6]:
students['Graduated'] = students['Grade'] == 'A'

print(students)

       Name  Age Grade  Graduated
0  Wendolyn   22    C-      False
1   Ricardo   20     A       True
2  Lawrence   19     A       True

   
5. **Maths:**
   
   - Calculate and print the average age of the students.

In [7]:
average_age = students['Age'].mean()
print("\nAverage Age of Students:", average_age)

Average Age of Students: 20.333333333333332

6. **Sorting:**
   - Sort the `students` DataFrame based on the `Age` column in descending order and print it.

In [8]:
students_sorted = students.sort_values(by='Age', ascending=False)
print(students_sorted)

       Name  Age Grade  Graduated
0  Wendolyn   22    C-      False
1   Ricardo   20     A       True
2  Lawrence   19     A       True


7. **Tidy Data**.
   - Re-make the cognitive health data frame from class so it is "tidy", with each column as variable and each row an observation.
   - Compute the mean and standard deviation of all variables.
   - Compute the mean and standard error for the happiness variable (there might even be a method for computing standard error...).

In [13]:
import pandas as pd

# Create a tidy DataFrame for cognitive health
cognitive_health_data = pd.DataFrame({
    'happiness': [4, 5, 6, 7],
    'language': [2, 2, 4, 5],
    'energy': [5, 2, 5, 9],
    'memory': [3, 6, 3, 1]
})

# Compute the mean and standard deviation of all variables
mean_values = cognitive_health_data.mean()
std_dev_values = cognitive_health_data.std()

print("Mean values of all variables:")
print(mean_values)

print("\nStandard deviation of all variables:")
print(std_dev_values)

# Compute the mean and standard error for the 'happiness' variable
mean_happiness = cognitive_health_data['happiness'].mean()
std_error_happiness = cognitive_health_data['happiness'].sem()

print("\nMean Happiness:", mean_happiness)
print("Standard Error of Happiness:", std_error_happiness)

Mean values of all variables:
happiness    5.50
language     3.25
energy       5.25
memory       3.25
dtype: float64

Standard deviation of all variables:
happiness    1.290994
language     1.500000
energy       2.872281
memory       2.061553
dtype: float64

Mean Happiness: 5.5
Standard Error of Happiness: 0.6454972243679028